html, body, canvas {
  font-size: 16px;
  margin: 0;
  padding: 0;
  background: #ddd;
  font-family: "Bitstream Vera Sans Mono", "Helvetica Neue",Helvetica,"Lucida Grande","Lucida Sans Unicode",sans-serif;
}

body {overflow-y: scroll;}

br {clear: both;}
.trenner {clear: both;}
.trenner2 {clear: both; height:2px;}
.trenner4 {clear: both; height:4px;}
.trenner.topmgn {
  margin-top: 30px;
}

a {
  color: #ddd;
  text-decoration: none;
}

span.f80 {font-size: 80%;}

textarea, select {
  background: rgba(234, 234, 234, 1);
  border: 1px solid #999;
  font-size: 12px;
  font-family: "Bitstream Vera Sans Mono", Fixed, monospace;
  margin: 2px 0;
  float: inherit; 
  line-height: 100%;
  border: 0;
}
select {padding: 1px 0 0 0;}
textarea {padding: 3px;}
textarea.f11 {font-size: 11px;}

button {
  color: #EEE;
  background: none repeat scroll 0% 0% #666;
  font-size: 12px;
  font-weight: 800;
  border-radius: 3px;
  border: 1px solid #FFF;
  padding-bottom: 1px;
  margin: 1px 2px;
  float: inherit;
}
button:hover {
  color: white;
}

button:disabled {
  background: none repeat scroll 0% 0% darkgrey;
  color: grey;
}

label {
  float: inherit;
  display: block;
  width: 60px;
  font-size: 12px;
  vertical-align: middle;
  text-align: right;
  padding-right: 4px;
  padding-top: 4px;
  color: rgba(87, 87, 87, 1);
  font-weight: 800;  
}


div.cont {margin: 0px; padding:0px;}
div.mgn2 {margin: 2px; padding:0px;}
div.mgn4 {margin: 4px; padding:0px;}
div.mgn8 {margin: 8px; padding:0px;}

.left {float: left;}
.right {float: right;}


.content {width: 100%; margin: 0 auto; background: #ccc; margin-top: 26px;}
.bar     {width: 800px; margin: 4px auto 0 auto; display: none;  margin-top: 4px;}

#menu.bar {
  display: block;
  z-index: 100;
  position: relative;  
}

div.container {
  margin-top: 6px;
  background: rgba(192, 192, 192, 1);
}

.browser.bar {
  background: rgba(225, 211, 207, 1); 
  margin-top: 4px;
}
.info.bar {
  background: rgba(131, 168, 159, 1); 
}
.error.bar {
  background: rgba(255, 184, 175, 1);
}

.results.bar {
  background: #F9F9F9;
}

#cInfo {
  padding: 0 8px 0 0;
  text-align: right;
  font-size: 80%;
  color: white;
}

#cError {
  padding: 0px 0px 0px 8px;
  text-align: left;
  font-size: 100%;
  font-weight: 800;
  color: rgba(95, 0, 0, 1);
  line-height: 100%;
}

#cError a {
  color: red;
  text-decoration: none;
}


#divResult {
  font-size: 11px;  
}


#txtHCQ   {width: 720px;}
#txtTREEGoal  {width: 324px;}
#txtTREEState {width: 324px;}
#txtECOGoal  {width: 324px;}
#txtECOState {width: 324px;}
#slcExams {width: 726px;}
#slcNodes {width: 533px;}


/*Mtabber*/

#tabberPathVill{}


ul.tabber {
  list-style: none; 
  background: #666; 
  width: 200px; 
  padding: 0; 
  margin: 0;
  margin-top: 4px;
}

li.tabberitem {
  float: left; 
  list-style: none; 
  width: 90px;
  background: #EAEAEA; 
  padding: 0;
  margin: 0;
  padding-left: 4px;
  font-weight: 800;  
}

li.tabberitem a {
  color: #575757;
  font-size: 12px;
}

.divTabber {
  height: 192px;
}  

.uline {
  width: 190px;
  border-bottom: 1px solid rgba(164, 164, 164, 1);
  margin-bottom: 2px;
}

/*Maps*/

#cntMap {
  float: left; 
  margin-left: 66px; 
  margin-top: -12px;
  position: relative;
  width: 512px;
  height: 512px;
}
#cvsMap {
  background: rgba(128, 128, 128, 1);
  z-index: 1;
  position: absolute;
}
#cvsDyna {
  background: rgba(0, 0, 0, 0);
  z-index: 2;
  position: absolute;
}

#slcMaps {
  width: 466px;
}

#imgPass {
  margin-top: 2px;
}
.minimap {
  background: rgba(128, 128, 128, 1);
  border: 1px solid #fff;
  margin: 2px;
  width:  122px;
  height: 122px;
  float: left;
}

.chklabel, .chklabelindent  {
  font-size: 10px;  
}

#chkAnim{
  margin-left: 16px;
}

#txtTerrain {
  font-size: 10px;  
  padding-left: 4px;
}

/*div#contMenu {
  position: fixed;
  top: 0px;
  width: 100%;  
}*/

div.menu {
  height: 22px;
  margin: 0 auto;  
  width: 800px;  
  border-bottom: 2px solid rgba(250, 250, 250, 0.5);
  /*padding: 4px 2px 0px 2px;*/
  position: fixed;
  top: 0px;  
}

.menu {
  list-style-type: none; 
  background: #888; 
  margin: 0;
  padding: 3px 0 0px 0; 
}

.menu ul {
  margin: 0;
  list-style-type: none;
  padding: 0px 8px 0px 16px;
}

.menu li {
  color: #ddd;
  font-weight: 800;
  font-size: 16px;
  display: inline;
  padding: 0 4px 2px 4px;
  cursor: pointer; 
}

.menu li:hover {
  color: #fff;
}

li.menu:hover {
  color: #fff;
}

select#slcCivs {
  float: none;
  background: none repeat scroll 0% 0% #555;
  color: #F8F8F8;
  font-weight: 800;
  padding: 1px;
  vertical-align: top;
  margin: 0px 0px 2px 0px;
}

select#slcVerbose {
  float: none;
  background: none repeat scroll 0% 0% #555;
  color: #F8F8F8;
  font-weight: 800;
  padding: 1px;
  vertical-align: top;
  margin: 0;  
}

.content {width: 100%; margin: 0 auto; background: #ccc; margin-top: 26px;}

.panel   {width: 800px; margin: 0 auto; display: none;  padding: 8px 0 8px 0;}

.content {width: 800px; margin: 0 auto; background: #ccc; padding: 2px; margin-top: 26px;}
/*.results {width: 800px; margin: 0 auto; background: rgba(249, 249, 249, 1);}*/
.timing  {width: 800px; margin: 0 auto; background: #ddd; padding: 2px;}
#debug   {width: 800px; margin: 8px auto; color: #a33; font-weight: 800;}

#jsonTECH {
  font-size: 10px;  
  background: #f4f4f4;
}
#ifoResult {
  margin: 4px 0 0 0;
  font-size: 11px;
  font-weight: 400;
  background: rgba(233, 234, 255, 1);
}



img.icon {
  border: 2px solid #888;
  border-radius: 5px;
}

table {
  width: 100%;
  table-layout: auto;  
}
/*thead {border-bottom: 1px solid white;}*/
thead td {font-weight: 800; font-size: 12px; border-bottom: 2px solid black;}


td:last-child {
  width: 1px; 
  white-space: nowrap;
}
td {
  font-size: 10.5px;
  vertical-align: top;
  padding: 1px 8px 1px 1px;
}

td.hr {
  text-align: right;
}
td.hl {
  text-align: left;
}
td.bd {
  font-weight: 800;
}
td.cl {
  cursor: pointer;
  color: #33b;
}
td.el {
  text-overflow: ellipsis;
}
td.nw {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow:hidden;
}

